/* Estilos específicos para el tema "dark" */
body[data-gh-theme="dark"] .section-page {
  background-color: #333; /* Ajusta según tus preferencias en modo oscuro */
  color: #fff; /* Ajusta según tus preferencias en modo oscuro */
}

body[data-gh-theme="dark"] .section-page:nth-child(even),
body[data-gh-theme="dark"] .section-page:nth-child(even) > .container::after {
  background-color: #333; /* Ajusta según tus preferencias en modo oscuro */
}

body[data-gh-theme="dark"] .section-page:nth-child(odd),
body[data-gh-theme="dark"] .section-page:nth-child(odd) > .container::after {
  background-color: #444; /* Ajusta según tus preferencias en modo oscuro */
}

/* Estilos generales para el tema "light" */
body[data-gh-theme="light"] .socialicons {
  color: #fff;
}

body[data-gh-theme="light"] .socialicons:hover {
  color: var(--gh-theme-600);
}

body[data-gh-theme="light"] footer.fixed-bottom {
  color: #fff;
}

body[data-gh-theme="light"] footer .card {
  color: #eee;
}

/* Estilos específicos para el tema "dark" */
body[data-gh-theme="dark"] .socialicons {
  color: var(--gh-dark-color);
  /* Ajusta según tus preferencias en modo oscuro */
}

body[data-gh-theme="dark"] .socialicons:hover {
  color: var(--gh-theme-700); /* Ajusta según tus preferencias en modo oscuro */
}

body[data-gh-theme="dark"] footer.fixed-bottom {
  background-color: #fff; /* Ajusta según tus preferencias en modo oscuro */
}

body[data-gh-theme="dark"] footer .card {
  background-color: #333; /* Ajusta según tus preferencias en modo oscuro */
}

body[data-gh-theme="light"] .section-page h2 {
  color: var(--gh-dark-color); /* Ajusta según tus variables */
}

/* Estilos específicos para el tema "dark" */
body[data-gh-theme="dark"] .btn-primary {
  --bs-btn-bg: #666; /* Ajusta según tus preferencias en modo oscuro */
  --bs-btn-border-color: #666; /* Ajusta según tus preferencias en modo oscuro */
  --bs-btn-hover-bg: #888; /* Ajusta según tus preferencias en modo oscuro */
  --bs-btn-hover-border-color: #888; /* Ajusta según tus preferencias en modo oscuro */
  --bs-btn-active-bg: #888; /* Ajusta según tus preferencias en modo oscuro */
  --bs-btn-active-border-color: #888; /* Ajusta según tus preferencias en modo oscuro */
}

body[data-gh-theme="dark"] .section-page h2 {
  color: #fff; /* Ajusta según tus preferencias en modo oscuro */
}

/* Estilos generales para las imágenes */
.theme-logo {
  display: none; /* Inicialmente oculta todas las imágenes */
}

/* Estilos específicos para el tema "light"  */
body[data-gh-theme="light"] .theme-logo-light {
  display: inline-block; /* Muestra la imagen en light mode */
}

/* Estilos específicos para el tema "dark"  */
body[data-gh-theme="dark"] .theme-logo-dark {
  display: inline-block; /* Muestra la imagen en dark mode */
}

/* Estilos generales para el texto "Build by" */
body[data-gh-theme="light"] .build-by-text {
  color: #fff; /* Ajusta según tus preferencias en modo claro */
}

body[data-gh-theme="dark"] .build-by-text {
  color: #333; /* Ajusta según tus preferencias en modo oscuro */
}

/* SWITCH */
/* */

:root {
  --hue: 223;
  --bg: hsl(var(--hue), 10%, 90%);
  --fg: hsl(var(--hue), 10%, 10%);
  --primary: hsl(var(--hue), 90%, 50%);
  --trans-dur: 0.3s;
  --trans-timing: cubic-bezier(0.76, 0.05, 0.24, 0.95);
  --trans-timing-in: cubic-bezier(0.76, 0.05, 0.86, 0.06);
  --trans-timing-out: cubic-bezier(0.05, 0.76, 0.06, 0.86);
}

.switch {
  margin: auto;
  position: relative;
  text-align: center; /* Centrar elementos internos */
}

.switch__icon,
.switch__input {
  display: inline-block; /* Alinea los elementos en línea para centrarlos */
  text-align: left; /* Resetea la alineación para los elementos internos */
}

.switch__icon {
  position: absolute;
  top: 0.375em;
  right: 0.375em;
  width: 0.75em;
  height: 0.75em;
  transition: opacity calc(var(--trans-dur) / 2),
    transform calc(var(--trans-dur) / 2);
}

.switch__icon polyline {
  transition: stroke-dashoffset calc(var(--trans-dur) / 2);
}
.switch__icon--light,
.switch__icon--light polyline {
  transition-delay: calc(var(--trans-dur) / 2);
  transition-timing-function: var(--trans-timing-out);
}
.switch__icon--dark {
  opacity: 0;
  transform: translateX(-0.75em) rotate(30deg) scale(0.75);
  transition-timing-function: var(--trans-timing-in);
}
.switch__input {
  background-color: hsl(210, 90%, 70%);
  border-radius: 0.75em;
  box-shadow: 0 0 0 0.125em hsla(var(--hue), 90%, 50%, 0),
    0.125em 0.125em 0.25em hsla(var(--hue), 90%, 10%, 0.2);
  outline: transparent;
  position: relative;
  width: 3em;
  height: 1.5em;
  -webkit-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  transition: background-color var(--trans-dur) var(--trans-timing),
    box-shadow 0.15s linear;
}
.switch__input:focus-visible {
  box-shadow: 0 0 0 0.125em hsl(var(--hue), 90%, 50%),
    0.125em 0.125em 0.25em hsla(var(--hue), 90%, 10%, 0.2);
}
.switch__input:before,
.switch__input:after {
  content: "";
  display: block;
  position: absolute;
}
.switch__input:before {
  background-color: hsl(50, 90%, 50%);
  border-radius: inherit;
  mask-image: linear-gradient(
    120deg,
    hsl(0, 0%, 0%) 20%,
    hsla(0, 0%, 0%, 0) 80%
  );
  -webkit-mask-image: linear-gradient(
    120deg,
    hsl(0, 0%, 0%) 20%,
    hsla(0, 0%, 0%, 0) 80%
  );
  inset: 0;
  transition: background-color var(--trans-dur) var(--trans-timing);
}
.switch__input:after {
  background-color: hsl(0, 0%, 100%);
  border-radius: 50%;
  box-shadow: 0.05em 0.05em 0.05em hsla(var(--hue), 90%, 10%, 0.1);
  top: 0.125em;
  left: 0.125em;
  width: 1.25em;
  height: 1.25em;
  transition: background-color var(--trans-dur) var(--trans-timing),
    transform var(--trans-dur) var(--trans-timing);
  z-index: 1;
}
.switch__input:checked {
  background-color: hsl(290, 90%, 40%);
}
.switch__input:checked:before {
  background-color: hsl(220, 90%, 40%);
}
.switch__input:checked:after {
  background-color: hsl(0, 0%, 0%);
  transform: translateX(1.5em);
}
.switch__input:checked ~ .switch__icon--light,
.switch__input:checked ~ .switch__icon--light polyline {
  transition-delay: 0s;
  transition-timing-function: var(--trans-timing-in);
}
.switch__input:checked ~ .switch__icon--light {
  opacity: 0;
  transform: translateX(-0.75em) rotate(-30deg) scale(0.75);
}
.switch__input:checked ~ .switch__icon--light polyline {
  stroke-dashoffset: 1.5;
}
.switch__input:checked ~ .switch__icon--dark {
  opacity: 1;
  transform: translateX(-1.5em);
  transition-delay: calc(var(--trans-dur) / 2);
  transition-timing-function: var(--trans-timing-out);
}
.switch__sr {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
}
