:root {
  /* fonts */
  --gh-title-font: "Bebas Neue", sans-serif;
  --gh-subtitle-font: "Fira Sans", sans-serif;
  --gh-heading-font: "Bebas Neue", sans-serif;
  --gh-body-font: "Roboto", sans-serif;

  /* basic colors */
  --gh-dark-color: #333;
  /* --gh-dark-color: #333; */
  /* --gh-light-color: #deeefb; */
  --gh-light-color: #605e5c;
  --gh-background-color: rgba(250, 250, 250, 0.8);

  /* text style */
  --gh-font-size: 1.2rem;
  --gh-font-weight: 400;
  --gh-line-height: 1.5rem;
  --gh-title-color: var(--gh-dark-color);

  --gh-gray-core: #adb5bd;
  --gh-theme-core: var(--gh-gray-core);
  --gh-theme-100: var(--gh-gray-100);
  --gh-theme-150: var(--gh-gray-150);
  --gh-theme-200: var(--gh-gray-200);
  --gh-theme-300: var(--gh-gray-300);
  --gh-theme-400: var(--gh-gray-400);
  --gh-theme-500: var(--gh-gray-500);
  --gh-theme-600: var(--gh-gray-600);
  --gh-theme-700: var(--gh-gray-700);
  --gh-theme-800: var(--gh-gray-800);
  --gh-theme-850: var(--gh-gray-850);
  --gh-theme-900: var(--gh-gray-900);

  --gh-dark-color: #212121;
  --gh-light-color: #deeefb;

  --gh-gray-100: hsl(210, 17%, 98%);
  --gh-gray-150: hsl(210, 17%, 93%);
  --gh-gray-200: hsl(210, 17%, 88%);
  --gh-gray-300: hsl(210, 17%, 78%);
  --gh-gray-400: hsl(210, 17%, 68%);
  --gh-gray-500: rgb(130, 148, 166);
  --gh-gray-600: hsl(210, 17%, 48%);
  --gh-gray-700: hsl(210, 17%, 38%);
  --gh-gray-800: hsl(210, 17%, 28%);
  --gh-gray-850: hsl(210, 17%, 23%);
  --gh-gray-900: hsl(210, 17%, 18%);
}

/* Element Overrides */
body {
  font-family: var(--gh-body-font);
  font-size: var(--gh-font-size);
  font-weight: var(--gh-font-weight);
  line-height: var(--gh-line-height);
  color: var(--gh-dark-color);
  background: var(--gh-background-color);
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  font-family: var(--gh-heading-font);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--gh-title-color);
  letter-spacing: 0.1rem;
}

a {
  color: rgb(251, 126, 24);
}

a:hover {
  color: var(--gh-orange-400);
}

main {
  margin-bottom: 5rem;
}

/* Div Center */
section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* .btn-shadow:hover {
  box-shadow: 0 1px 3px;
} */

.buttonContainer {
  text-align: center;
  margin: 2rem;
}

/* ADD Photo */
/* .mainTitle img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin: 0 auto;
} */

.btn-primary {
  --bs-btn-bg: var(--gh-theme-600);
  --bs-btn-border-color: var(--gh-theme-600);
  --bs-btn-hover-bg: var(--gh-theme-700);
  --bs-btn-hover-border-color: var(--gh-theme-700);
  --bs-btn-active-bg: var(--gh-theme-700);
  --bs-btn-active-border-color: var(--gh-theme-700);
}

/* END: Elements Overrides */

/* BEGIN: Home Section */

#home {
  /* background-color: var(--gh-theme-200); */
  background-image: url(/img/Logo/BGLogo.jpeg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  /* background-color: linear-gradient(to bottom, #709a8f, #046975); */
}

#homeCover {
  backdrop-filter: brightness(0.9) blur(0rem);
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainTitle,
.subTitle {
  color: var(--gh-dark-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainTitle {
  font-family: var(--gh-title-font);
  font-size: 3rem;
  font-weight: 1.2rem;
  letter-spacing: 0.3rem;
  padding-bottom: 0.5rem;
  animation: moveInLeft 1s ease-out;
}

.subTitle {
  font-family: var(--gh-subtitle-font);
  font-size: 1.3rem;
  font-weight: 1.2rem;
  letter-spacing: 0.1rem;

  animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* END: Home Section */

/* BEGIN: Main Content */

.section-page {
  padding-top: 5rem;
  padding-bottom: 8rem;
  position: relative;
  overflow: visible;
  margin-top: -3rem;
}

.section-page:nth-child(even),
.section-page:nth-child(even) > .container::after {
  background-color: var(--gh-theme-100);
}
.section-page:nth-child(odd),
.section-page:nth-child(odd) > .container::after {
  background-color: var(--gh-theme-150);
}

/* contact form box-shadow */
.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 0.5rem;
}

/* END: Main Content */

/* START: Footer styles */

.socialicons {
  font-size: 2rem;
  transition: color 0.25s;
  color: var(--gh-theme-700);
}

.socialicons:hover {
  color: var(--gh-theme-800);
}

footer.fixed-bottom {
  background-color: var(--gh-theme-900);
}

footer .card {
  background-color: var(--gh-theme-800);
}

/* END: Footer styles */

/***** START: Media Queries ******/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .mainTitle {
    font-size: 6rem;
    font-weight: 4rem;
    letter-spacing: 0.4rem;
    padding-bottom: 2rem;
  }

  .subTitle {
    font-size: 2rem;
    font-weight: 1.5rem;
    letter-spacing: 0.2rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}

/***** END: Media Queries ******/
